.project-card {
  display:flex;
  flex-direction:column;
  flex: 1;
  border: 2px solid var(--primary-blue);
  border-radius: var(--border-radius);

  padding: 1.25em;
  background: var(--bg-color);
  transition: all 400ms ease-in;
}
.project-card:hover {
  scale: 1.1;
  border: none;
  box-shadow: 0px 2px 30px -12px var(--primary-blue);
}
.project-description {
  width: 100%;
  padding-block:0.5em;
  flex-basis:20%;
}
.project-technologies {
  font-size: 1rem;
  border-bottom: 1px solid var(--primary-blue);
  font-weight: 500;
  padding-bottom: 0.5em;
  user-select: none;
}
.project-list {
  list-style: none;
  text-decoration: none;
  padding-block: 1em;
  flex-basis:100%;
}
.projects-name {
  font-size: 1rem;
}
.project-card ul li {
  padding-block: 0.25em ;
  text-decoration: none;
  font-weight: 500;
}
.project-links {
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
  align-items: center;
  gap: 2em;
}
.project-links > a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}

.project-links>a:nth-child(2):focus{
  outline-offset:0.3em;
}

.project-links>a:nth-child(2):hover{
  text-decoration:underline;
  text-underline-offset:0.25em;
}
@media(max-width:786px){
  .project-card{
    min-width:15em;
  }
}