.hero-section {
  padding: 9em;
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  align-content: space-evenly;
}

.title {
  font-size: 2rem;
}

.hero-title,
.hero-highlight {
  justify-self: left;
  align-self: center;
}

.hero-title {
  display: block;
  grid-row: 1;
  grid-column: 1;
}

.hero-highlight {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.highlight {
  color: var(--primary-blue);
}

.hero-img {
  grid-row: 1 / span 2;
  grid-column: 2;
  justify-self: center;
  align-self: start;
  background-image: url(../../assets/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 500px;

}
.hero-img img{
  aspect-ratio: 1/1
}

.blinking-cursor::after {
  position:relative;
  z-index:-1;
  content: "|";
  animation: blink 700ms step-start infinite;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    height: 50em;
  }
  .hero-title{
    padding-top: 8em;
  }
  .hero-img {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    margin-top: 0em;
  }
  .hero-highlight {
    grid-row: 3;
  }

}

@media (max-width: 425px) {
  .hero-section {
    padding: 0;
    padding-top: 2em;
    margin-bottom: 3em;
  }
  h1 {
    margin-block: 0.5em;
  }
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}
