.about-section {
  margin-top:5em;
  font-size: 1rem;
}
.about-text > p {
  margin-block: 1em;
  line-height: 1.8;
}
.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.icons-title {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1em;
}
.icons-container {
  margin-inline: auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 30em;
  transition: all ease-in-out;
}
.icons-container > img {
  transition: all 500ms ease-in-out;
}
.icons-container > img:hover {
  transform: scale(1.2);
}
.icons-container:hover > img:not(:hover) {
  transform: scale(0.9);
}
@media (max-width:786px){
  .about-text > p {
    margin-bottom:0;
  }
}