.contact-container {
  display: flex;
  justify-content: space-around;
  padding-block:2em;
}
.input {
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid var(--primary-blue);
  background-color: transparent;
  outline: none;
  color: var(--text-color);
  width: 100%;
}
.input-holder {
  width: 17em;
  position: relative;
}
.input-holder label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.input-holder textarea:focus + label,
.input-holder textarea:valid + label,
.input-holder input:focus + label,
.input-holder input:valid + label {
  top: -1em;
}
.input-holder textarea + label {
  padding-top: 0.5em;
  padding-left: 0.75em;
}
.input-holder textarea:focus + label,
.input-holder textarea:valid + label {
  top: -2em;
  left: -0.7em;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1em;
}
.textarea {
  padding: 0.5em;
  width: 100%;
  resize: none;
  background: transparent;
  outline: none;
  border: 2px solid var(--primary-blue);
  color: var(--text-color);
  border-radius: var(--border-radius);
}
.contact-email {
  display: inline-block;
  margin-top: 1.45em;
  cursor: pointer;
  position: relative;
  transition: all ease-out;
}
.contact-email:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  color: var(--primary-blue);
}
.contact-email::before {
  content: "";
}

.contact-email:hover::before {
  content: "Click to copy";
  position: absolute;
  color: var(--text-color);
  background: rgb(156, 156, 156);
  border-radius: var(--border-radius);
  padding: 0.5em;
  top: -2.5em;
  left: 0;
}
.contact-icon {
  display: flex;
  margin-top: 1em;
  gap: 2em;
}
.btn-send {
  margin-top: -1.5em;
}

@media (max-width:786px){
  .contact-container {
    padding-block:0.5em;
    flex-direction: column;
  }
}