.project-section {
  padding-inline: 1.5em;
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
}

@media (max-width: 786px) {
  .project-section {
    padding-inline: 0em;
    flex-wrap: wrap;
  }
}
