@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --border-radius: 0.5em;
}

body {
  font-size: 16px;
  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  background: #d2deeb;
  min-height: 100vh;
}

/* navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  list-style-type: none;
}
nav ul li a {
  padding: 1em;
  cursor: pointer;
  color: black;
}
a {
  text-decoration: none;
}
nav > ul > li a :hover {
  color: red;
}

/* hero */
.blinking-cursor::after {
  content: "|";
  animation: blink 700ms step-start infinite;
}

/* projects */
.project-section{
  padding: 0em 1em;
}
.project-card {
  border: 1px solid black;
  padding: 1em;
  border-radius: var(--border-radius);
  background: #f3fef3;
  width: fit-content;
  transition: all 300ms ease-in;
}
.project-card:hover{
  scale: 1.1;
  border: none;
  box-shadow: 0px 7px 40px -10px green;
}
.project-list{
  list-style: none;
  text-decoration: none;
  padding: 1em
}
.project-technologies{
  font-size: 1rem;
  border-bottom: 1px solid black;
  font-weight: 500;
  padding-bottom: .5em;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,81,193,1) 0%, rgba(112,255,0,1) 100%);
  background-clip: text;
  -webkit-background-clip:text;
  animation: rainbow 2s ease-in-out infinite;
}
.project-technologies:hover{
  color:rgba(0,0,0,0);
}
.project-card ul li{
  padding: .25em 0em;
}
/* about section */
.about-section{
  padding: 1em;
  font-size: 1rem;
}
.about-section>p{
  line-height: 1.4;
}

/* contact */
.contact-section {
  display: flex;
  justify-content: space-around;
}
.input {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid green;
  background-color: transparent;
  outline: none;
  color: black;
}
.input-holder {
  position: relative;
}
.input-holder label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.input-holder textarea:focus + label,
.input-holder textarea:valid + label,
.input-holder input:focus + label,
.input-holder input:valid + label {
  top: -1em;
}
.input-holder textarea + label {
  padding-top: 0.25em;
  padding-left: 0.5em;
}
.input-holder textarea:focus + label,
.input-holder textarea:valid + label {
  top: -1.2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1em;
}
.textarea {
  padding: 0.5em;
  width: 100%;
  resize: none;
  background: transparent;
  outline: none;
  border: 2px solid green;
  color: black;
  border-radius: var(--border-radius);
}
.btn-send {
  font-size: 1rem;
  padding: 0.8em;
  border-radius: var(--border-radius);
  background: green;
  color: white;
  width: fit-content;
  outline: none;
  border: none;
}
/* accordion */
.accordion {
  padding: 1em;
  margin: 0.5em auto;
  border-radius: var(--border-radius);
  background: transparent;
  max-width: 60%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.accordion-title {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accordion-content {
  margin-top: 1em;
  padding: 1em 0;
  border-top: 1px solid black;
}
.svg-icon{
  width: 1.5em;
  height: 1.5em;
}

/* footer */
footer {
  border-top: 1px solid black;
  padding: 0.5em 0em;
  text-align: center;
}

/* animation */

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/*
animacija za about sekciju da bude velika sklopljena slika puzle kada je u focusu, ili na ekranu inace se rasire elementi po ekranu

about sekcija da bude grid koji bi se nalazio iz 4 slicice(dela slagalice)
*/
/*tudj kod koji treba da se preimenuje za kontakt forum
*/
